# Active game for build/test scripts when building Sky Lance:
#   make GAME=skylance GAME_CFG_FILE=games/skylance/game.cfg all
# The repo-root game.cfg stays on whatever game is being worked on.
CURRENT_GAME=skylance
BUDGET_P=384K
BUDGET_C=8M
BUDGET_S=128K
BUDGET_M=32K
BUDGET_V=8M
